<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pl" xml:lang="pl">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="css/login.css" media="screen"/>
  </head>
  <body>
    <div class="wrap">
      <div id="content">
        <div id="main">
          <div class="full_w">
            <form action="" method="post">
              <label for="login">Username:</label>
              <input id="login" name="login" class="text"/>
              <label for="pass">Password:</label>
              <input id="pass" name="pass" type="password" class="text"/>

              <div class="sep"></div>
              <button type="submit" class="buttonk">Login</button>
            </form>
          </div>
          <div class="footer"><a href="http://funivan.com" target="_blank">funivan.com</a></div>
        </div>
      </div>
    </div>

  </body>
</html>
